# Server
server/node_modules/
server/.env
server/serviceAccountKey.json

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
